@{
    ViewData["Title"] = "ObsidianTattoos";
}

<div class="text-center">
    <h1 class="display-4">Obsidian Tattooh</h1>
    <p>Descubri la belleza de la tinta</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://i.postimg.cc/63Mz6cHg/imagen-home-javier-arcia-1024x1024.jpg" alt="Imagen 1" class="img-fluid img-height mb-4">
        </div>
        <div class="col-md-4">
            <img src="https://i.postimg.cc/XJjQ0mg9/tattoos-rk7c5-Mv-F6-RT8q6-TDyd191-Me-TF4-G2-nf-Dt-R2cgp48dypb57-KXZ.jpg" alt="Imagen 2" class="img-fluid img-height mb-4">
        </div>
        <div class="col-md-4">
            <img src="https://i.postimg.cc/kGDs2Sz4/the-joker-tattoo.jpg" alt="Imagen 3" class="img-fluid img-height mb-4">
        </div>
        <div class="col-md-4">
            <img src="https://i.postimg.cc/R0j1hJTM/hahaha-joker-tattoo.jpg" alt="Imagen 3" class="img-fluid img-height mb-4">
        </div>
        <div class="col-md-4">
            <img src="https://i.postimg.cc/hvn9bFw6/jack-nicholson-joker-tattoo-scaled.jpg" alt="Imagen 3" class="img-fluid img-height mb-4">
        </div>
        <div class="col-md-4">
            <img src="https://i.postimg.cc/G2GFy3Mv/joker-tattoo-hand.jpg" alt="Imagen 3" class="img-fluid img-height mb-4">
        </div>
    </div>
</div>
